:root {
  --text-buttons: hsla(218, 45%, 22%, 0.40)
}

body {
  font-family: sans-serif;
}

span.text-buttons {
    color: white;

  }


#navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 1% 5% 5% 40% 38% 5% 5% 1%;
  align-items: center;
  justify-items: center;
}

#menu-input-group {
  height: 90%;
}